parameters:
    level: 6
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
